.clear_fix {
  clear: both;
}

* {
  margin-bottom: 0;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 70%;
}

.hero {
  background-color: #fbfcfd;
  padding: 30px;
}

.hero_content {
  margin-top: 20px;
  float: left;
  width: 65%;
}

.hero_image {
  float: left;
  width: 35%;
}

.hero_image img {
  width: 120%;
  margin-top: 25%;
  border-radius: 20px;
}

.hero_content h1 {
  font-size: 70px;
  width: 60%;
}

.hero_content p {
  width: 70%;
  font-size: large;
  color: #666;
  margin-bottom: 2%;
}

.hero_content button {
  padding: 10px 15px;
  border-radius: 7px;
  font-size: 17px;
}

.hero_content .start {
  color: white;
  background-color: black;
}

.hero_content .learn_more {
  border: solid 1px black;
  background-color: white;
}

.title {
  padding-top: 5px;
  text-align: center;
  width: 50%;
}

.title h2 {
  font-size: 35px;
}

.title p {
  font-size: large;
}

.benefit_cards {
  width: 100%;
}

.benefit_cards .card {
  float: left;
  padding: 20px;
  text-align: center;
  width: 23.33%;
  border-radius: 20px;
  margin: 2%;
}

.benefit_cards .card .icon {
  width: 20px;
  height: 20px;
  background-color: white;
  border: solid 10px #000000;
  border-radius: 10px;
}

.bg_blue {
  background-color: #dbeafe;
}

.bg_green {
  background-color: #d0fae5;
}

.bg_purple {
  background-color: #f3e8ff;
}

.more_benefits {
  width: 100%;
  margin-bottom: 3%;
}

.more_benefits .image {
  width: 50%;
}

.more_benefits img {
  width: 100%;
  float: left;
  border-radius: 15px;
  margin-top: 20%;
}

.more_benefits .content {
  width: 40%;
  float: left;
  margin: 20px;
  padding: 10px;
}

.more_benefits .content h4 {
  font-size: 30px;
}
.more_benefits .content h5 {
  font-size: 20px;
  margin-bottom: -15px;
}

.border_left {
  border-left: black 2px solid;
  padding-left: 9px;
}

.testimonials {
  background-color: #f9fafb;
  padding: 15px;
}

.reviews .card {
  width: 23%;
  margin: 3%;
  float: left;
  padding: 2%;
  border-radius: 10px;
  border: solid 1px #bdc0c4;
}

.reviews .card .profile {
  display: inline-block;
}

.reviews {
  width: 100%;
}

.reviews .card img {
  width: 15%;
  border-radius: 50%;
  margin-right: 10px;
}

.profile h3 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.profile p {
  font-size: 16px;
  color: #666;
  margin: 0;
}

.testimonial-text {
  padding-top: 20px;
  font-size: 15px;
  color: #444;
}

.section {
  border: solid 1px #bdc0c4;
  border-radius: 15px;
  margin-top: 3%;
}

.statistics {
  float: left;
  padding: 3%;
  width: 19%;
  border-radius: 15px;
  background-color: #f1f5f9;
  text-align: center;
}

.section {
  margin-bottom: 2%;
}

.section .statistics h3 {
  margin: 2%;
  font-size: 24px;
}

.section .statistics p {
  margin-top: 0;
  color: #484b4e;
}

.membership-form {
  margin: 0;
}

.membership-form form {
  background-color: #f9fafb;
  border-radius: 15px;
  padding: 3%;
  width: 70%;
  margin-bottom: 50px;
}

.membership-form .form-group .first-name,
.last-name {
  display: inline-block;
  width: 41%;
}
.membership-form .form-group .first-name {
  margin-right: 7%;
}
.membership-form .form-group input {
  width: 100%;
}

.membership-form .title {
  text-align: center;
  font-size: 17px;
}

.membership-form .title h2 {
  width: 100%;
  font-size: 34px;
}

.membership-form .title p {
  color: #4a5565;
  margin-bottom: 5%;
  font-size: 19px;
}

.membership-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

.membership-form input,
select,
textarea {
  background-color: #f9fafb;
  border: 1px solid #d1d5dc;
  border-radius: 10px;
  padding: 17px;
  width: 90%;
  font-size: 16px;
  resize: none;
}

.membership-form select {
  width: 95%;
}

.membership-form .form-group,
.email,
.phone,
.fitness-goals,
.membership {
  padding: 2%;
}

.center {
  text-align: center;
}

.membership-form .button_pform p {
  margin-top: 3%;
  font-size: 14px;
  color: #333;
}

.membership-form .button_pform button {
  color: white;
  background-color: #000000;
  border-radius: 10px;
  width: 90%;
  padding: 2%;
  font-size: 17px;
}

.footer {
  background-color: #0b1325;
  color: white;
  width: 100%;
}

.footer .content .fitcore,
.quicklinks,
.contactinfo {
  float: left;
  padding: 10px;
  width: 26%;
  margin-right: 40px;
}

.footer .content .fitcore a {
  margin-top: 40%;
}

.footer .quicklinks a {
  display: block;
}

.footer .content {
  width: 100%;
}

.footer a {
  margin: 10px;
  text-decoration: none;
}

.footer p,
a,
hr {
  color: #707b8d;
}

.copyright .rightsrecevied,
.privacylinks {
  float: left;
  padding: 10px;
  width: 42%;
  margin-right: 40px;
}

.footer .content .fitcore a {
  display: inline-block;
  margin-top: 30%;
}

.copyright .privacylinks {
  margin: 10px 0 0 50px;
}
